@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer components {
	.btn-primary {
		@apply font-sans text-lg font-bold text-left text-white hover:text-white rounded-lg cursor-pointer px-3 h-10 ml-3 inline-flex items-center transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-700;
	}
	.input-date {
		@apply mr-0 md:mr-5 mb-5 md:mb-0 inline-flex justify-center items-center w-full h-10 px-3 rounded-md border border-gray-300 shadow-sm bg-white font-sans font-medium text-base text-black focus:outline-none focus:ring-2 focus:ring-blue-600 cursor-pointer
	}
	.stepper { 
		@apply flex items-center justify-center w-12 h-full py-1 bg-blue-600 text-white hover:text-white hover:bg-blue-700 outline-none focus:outline-none cursor-pointer
	}
	.text-shadow {
		text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	}
	.text-shadow-md {
		text-shadow: 0 4px 8px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.08);
	}
	.text-shadow-lg {
		text-shadow: 0 15px 30px rgba(0, 0, 0, 0.11), 0 5px 15px rgba(0, 0, 0, 0.08);
	}
	.text-shadow-none {
		text-shadow: none;
	}
	input[type="date"]::-webkit-calendar-picker-indicator {
		/* filter: invert(1); */
	}
}
